-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: classrooms
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `abteilung`
--

DROP TABLE IF EXISTS `abteilung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `abteilung`
(
    `a_id`      int NOT NULL AUTO_INCREMENT,
    `a_kuerzel` text,
    `a_name`    text,
    PRIMARY KEY (`a_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `abteilung`
--

LOCK
TABLES `abteilung` WRITE;
/*!40000 ALTER TABLE `abteilung` DISABLE KEYS */;
/*!40000 ALTER TABLE `abteilung` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `gruppe`
--

DROP TABLE IF EXISTS `gruppe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gruppe`
(
    `g_id` int NOT NULL,
    PRIMARY KEY (`g_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gruppe`
--

LOCK
TABLES `gruppe` WRITE;
/*!40000 ALTER TABLE `gruppe` DISABLE KEYS */;
/*!40000 ALTER TABLE `gruppe` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `l_tag`
--

DROP TABLE IF EXISTS `l_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `l_tag`
(
    `l_id`   int NOT NULL,
    `tag_id` int NOT NULL,
    PRIMARY KEY (`l_id`, `tag_id`),
    KEY      `tag_id` (`tag_id`),
    CONSTRAINT `l_tag_ibfk_1` FOREIGN KEY (`l_id`) REFERENCES `lehrperson` (`l_id`),
    CONSTRAINT `l_tag_ibfk_2` FOREIGN KEY (`tag_id`) REFERENCES `tag` (`tag_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `l_tag`
--

LOCK
TABLES `l_tag` WRITE;
/*!40000 ALTER TABLE `l_tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `l_tag` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `lehrperson`
--

DROP TABLE IF EXISTS `lehrperson`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lehrperson`
(
    `l_id`       int NOT NULL AUTO_INCREMENT,
    `l_vorname`  text,
    `l_nachname` text,
    PRIMARY KEY (`l_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lehrperson`
--

LOCK
TABLES `lehrperson` WRITE;
/*!40000 ALTER TABLE `lehrperson` DISABLE KEYS */;
/*!40000 ALTER TABLE `lehrperson` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `schueler`
--

DROP TABLE IF EXISTS `schueler`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schueler`
(
    `s_id`  int NOT NULL,
    `sk_id` int DEFAULT NULL,
    PRIMARY KEY (`s_id`),
    KEY     `sk_id` (`sk_id`),
    CONSTRAINT `schueler_ibfk_1` FOREIGN KEY (`sk_id`) REFERENCES `schulklasse` (`sk_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schueler`
--

LOCK
TABLES `schueler` WRITE;
/*!40000 ALTER TABLE `schueler` DISABLE KEYS */;
/*!40000 ALTER TABLE `schueler` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `schulklasse`
--

DROP TABLE IF EXISTS `schulklasse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schulklasse`
(
    `sk_id`      int NOT NULL AUTO_INCREMENT,
    `a_id`       int DEFAULT NULL,
    `jahrgang`   int DEFAULT NULL,
    `klassen_id` int DEFAULT NULL,
    PRIMARY KEY (`sk_id`),
    KEY          `a_id` (`a_id`),
    CONSTRAINT `schulklasse_ibfk_1` FOREIGN KEY (`a_id`) REFERENCES `abteilung` (`a_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schulklasse`
--

LOCK
TABLES `schulklasse` WRITE;
/*!40000 ALTER TABLE `schulklasse` DISABLE KEYS */;
/*!40000 ALTER TABLE `schulklasse` ENABLE KEYS */;
UNLOCK
TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tag`
(
    `tag_id`   int NOT NULL AUTO_INCREMENT,
    `tag_name` text,
    PRIMARY KEY (`tag_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK
TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK
TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-11-23 11:48:00
